<div class="container mt-5">

  <h1>My bookings</h1>

<% @my_bookings.each do |booking| %>
  <div class="card m-3" style="width: 50%; height: 400px;">
    <%= cl_image_tag booking.vehicle.photo, crop: :fill, :height=>200 %>
    <div class="card-body">
      <p class="card-text booking-card-text">From the <%= booking.start_date.to_s(:short) %> for <%= booking.number_of_nights %> nights</p>
      <h5 class="card-title"> <%= booking.vehicle.name %> </h5>
      <p class="card-text booking-card-text"> <%= booking.vehicle.berths %> berth <%= booking.vehicle.category %> </p>
    </div>
    <div class="card-body border-top w-">
      <%= link_to "Booking Details", booking_path(booking) %>
    </div>
  </div>
<% end %>




  <!--  -->

  <h1>Bookings for my vehicles</h1>

<% @their_bookings.each do |booking| %>
  <div class="card m-3" style="width: 50%; height: 400px;">
    <%= cl_image_tag booking.vehicle.photo, crop: :fill, :height=>200 %>
    <div class="card-body">
      <p class="card-text booking-card-text">From the <%= booking.start_date.to_s(:short) %> for <%= booking.number_of_nights %> nights</p>
      <h5 class="card-title"> <%= booking.vehicle.name %> </h5>
      <p class="card-text booking-card-text"> <%= booking.vehicle.berths %> berth <%= booking.vehicle.category %> </p>
    </div>
    <div class="card-body border-top w-">
      <%= link_to "Booking Details", booking_path(booking) %>
    </div>
  </div>
<% end %>
