<div class="container">
  <h1 class="mt-5">Review and Confirm Your Booking</h1>
  <div class ="confirm-container w-100 my-5 mx-auto px-5">
      <div class="vehicle-details-container d-flex pt-5 pb-3">

        <%= cl_image_tag @vehicle.photo %>
        <div class="ml-3">
          <h2><%= @vehicle.name %></h2>
          <p><%= @vehicle.category %></p>
          <p>Number of berths: <%= @vehicle.berths %></p>
          <p><%= @vehicle.description %></p>
        </div>
      </div>

      <div class="booking-details-container py-4">
        <table class="booking-table">
          <tr>
            <th><p><strong>Dates</strong></p></th>
            <td><p><%= Date.parse(params[:start_date]).strftime("%d %b") %> to <%= Date.parse(params[:end_date]).strftime("%d %b %Y") %> (<%= distance_of_time_in_words(params[:end_date],  params[:start_date]) %>)</p></td>
          </tr>
          <tr>
            <th><p><strong>Pickup Details</strong></p></th>
            <td><p>Please pick-up <%= @vehicle.name %> from <%= @vehicle.address.capitalize %> on <%= Date.parse(params[:start_date]).strftime("%d %b %Y") %> between 14.00 and 16.00.</p></td>
          </tr>
          <tr>
            <th><p><strong>Total Price</strong></p></th>
            <td><p class="vehicle-index-card-text-price"> £<%= (params[:end_date].to_i - params[:start_date].to_i) * @vehicle.price_per_night %> (<%= params[:end_date].to_i - params[:start_date].to_i %> x £<%= @vehicle.price_per_night %>)</p></td>
          </tr>
        </table>

        <div class="d-flex justify-content-between w-100">
          <%= link_to "Back", vehicle_path(@vehicle), class: "btn btn_secondary mt-3 ml-4"%>
          <%= simple_form_for([@vehicle, Booking.new]) do |f| %>
            <%= f.input :start_date, as: :hidden, input_html: { value: params[:start_date] } %>
            <%= f.input :number_of_nights, as: :hidden, input_html: { value: params[:end_date].to_i - params[:start_date].to_i } %>
            <%= f.submit "Confirm", class: "btn btn-primary" %>
          <% end %>
        </div>

      </div>

  </div>








</div>
