<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(<%= image_path 'home_camper.jpg' %>);">
  <div class="container">
    <h1>Book unique campers and caravans for your next holiday</h1>
      <form class="mt-5" action="/vehicles">
        <div class="row">
          <div class="col-8">
            <input class="form-control" type="text" name="location" placeholder="Enter a location..." id="vehicle_address">
          </div>
          <div class="col-2">
            <input class="form-control btn btn-primary" type="submit" value="Search">
          </div>
        </div>
      </form>
    </div>
  </div>
<div class="container mt-5">
  <h1>Featured Campervans</h1>
  <ul>
  <% @vehicles.each do |vehicle| %>
    <%= cl_image_path vehicle.photo %>
    <li> <%= vehicle.name %> </li>
    <li><p> <%= vehicle.berths %> berth <%= vehicle.category %> </p> </li>
    <li> <%= vehicle.address %> </li>
    <li> <%= vehicle.price_per_night %> </li>
    <li> <%= vehicle.category %> </li>
    <li> <%= vehicle.name %> </li>

  <% end %>
  </ul>
</div>
