<div class="container mb-3">
  <%= simple_form_for [@user, @vehicle] do |f| %>
    <%= f.input :name %>
    <%= f.input :berths %>
    <%= f.input :address %>
    <%= f.input :price_per_night %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.submit "Add Vehicle", class: "btn btn-primary" %>
 <% end %>

</div>
