<%= render('search_filters') %>
<div class="vehicles-index-wrapper">
  <div class="cards-wrapper w-50 p-3">
    <% if @vehicles.empty? %>
    <h2>Sorry, no results found!</h2>
    <% end %>
    <% @vehicles.each do |vehicle| %>
      <%= link_to vehicle_path(vehicle), class: 'text-decoration-none' do %>
        <div class="vehicle-index-card mb-3 w-100">
          <%= cl_image_tag vehicle.photo, height: 300 %>
          <div class="position-relative d-flex flex-column p-3">
            <p class="vehicle-index-card-title mb-2"><%= vehicle.name %></p>
            <p class="vehicle-index-card-subheading"><%= vehicle.berths %> berth <%= vehicle.category %></p>
            <p class="vehicle-index-card-text flex-grow-1"><%= vehicle.description[0..140] %></p>
            <div class="d-flex">
              <p class="vehicle-index-card-address mb-0 flex-grow-1">
                <% if vehicle[:distance] %>
                  <i class="fas fa-map-marker-alt mr-1"></i><%= pluralize vehicle[:distance].round, "mile" %> away
                <% end %>
              </p>
              <div class="vehicle-index-card-price">
                <h2>£<%= vehicle.price_per_night %></h2>
                <p>per night</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="map-wrapper">
    <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


