<div class="container border-radius mb-5">
  <div class="top-image" style="background-image: url(<%= cl_image_path @vehicle.photo, crop: :mpad %>)">
  </div>
  <div class="content-container d-flex justify-content-between">
    <div class="details-container w-50">
      <div class="title-container d-flex justify-content-between align-items-center">
          <div class="vehicle-fields">
            <h1><%= @vehicle.name %></h1>
            <p><i class="mr-1 fas fa-map-marker-alt"></i> <%= @vehicle.address.capitalize %></p>
            <div class="d-flex">
              <p><i class="mr-1 fas fa-shuttle-van"></i> <%= @vehicle.category %> </p>
              <p> <i class="ml-3 fas fa-bed"></i> <%= @vehicle.berths %> Berths</p>
            </div>
          </div>
          <div>
            <%= link_to user_path(@vehicle.owner), class: 'text-decoration-none' do %>
            <div>
              <%= cl_image_tag @vehicle.owner.photo, crop: :fill, height: 80, width: 80 %>
              <p class="text-center"><%= @vehicle.owner.first_name %></p>
            </div>
            <% end %>
          </div>
      </div>


      <div class="description">
        <p><%= @vehicle.description %></p>
      </div>
      <h2 class="mb-5">Location</h2>
      <div
        id="map"
        style="width: 100%;
        height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="booking-container">
      <div class="box-with-shadow border-radius sticky-top">
          <div class="price d-flex">
            <h4><strong>£<%= @vehicle.price_per_night %></strong></h4>
            <p> per night</p>
          </div>
          <div>
            <form class="popover-datepicker" action="<%=new_vehicle_booking_path(@vehicle)%>" >
              <div class="row">
                <div class="col-6"><input class="w-100 form-control" type="text" name="start_date" id="start_date_show" autocomplete="off" placeholder="Start date"></div>
                <div class="col-6"><input class="w-100 form-control" type="text" name="end_date" id="end_date_show" autocomplete="off" placeholder="End date"></div>
              </div>
              <input class="form-control btn btn-primary mt-3" type="submit" value="Book Now">
            </form>
          </div>

        </div>
      </div>
  </div>

    <h2 class="mb-4"><%= pluralize @vehicle.reviews.count, "Review" %>
      <span class="review-stars"><% @vehicle.average_rating.times do  %>
        <i class="fas fa-star star-color"></i>
      <% end %>
      </span>
    </h2>
    <% @vehicle.reviews.each do |review| %>
  <div class="card-product review-card my-3 p-4">
    <%= cl_image_tag review.user.photo, class: "avatar m-3" %>
    <strong><%= review.user.first_name %></strong>
    <%= ('<i class="fas fa-star star-color"></i>' * review.rating).html_safe %>
    <div class="card-product-infos">
      <%= review.comment %>
    </div>
  </div>
    <% end %>
</div>
